﻿@import url('./reset.css');
@import url('./animation.css');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&display=swap');


/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-comfortaa: 'Comfortaa', sans-serif;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    font-size: 10px;

}

a{
    text-decoration: none;
    display: inline-block;
    font-style: normal;
}

/* Прихований заголовок */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Головна сторінка */
.main_page{
    max-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
    font-family: var(--font-comfortaa);
    font-size: 2rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)), url('../image/veselie-noti.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(253, 253, 253);
}

/* Хедер */
.header{
    padding: 2rem 0;
}
.header_nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header_logo{
    font-family: 'Kalam', sans-serif;
    font-style: var(--font-style-Italic);
    font-size: 4rem;
    line-height: 1.2;
    color: rgb(12, 235, 12);
    letter-spacing: .3rem;
    font-weight: 600;
    opacity: .8;
    transition: all .3s;
    margin-right: 1rem;
}


.header_logo:hover,
.header_logo:focus{
    opacity: 1;
}
.header_title{
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.2;
}


/* Контент */
.main{
    width: 90%;
    margin: 0 auto;
}

.homework_title{
    font-size: 2rem;
    margin-bottom:2rem;
}
.example{
    width: 90%;
    margin: 2rem auto;
    border-radius: .5rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	background-color: rgba(255, 255, 255, .15);
	backdrop-filter: blur(5px);
    padding: 1rem;
}

.requirement{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.example_title{
    font-size: 1.8rem;
    font-weight: 500; 
    margin: .5rem;
}
.decision{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    color: rgb(65, 248, 65);
}
.decision > span{
    color: red;
    font-size: 1.8rem;
}
.decision_root{
    display: flex;
    flex-wrap: wrap;
    max-width: 26rem;
    margin: 1rem auto;
}
.element{
    width: 5rem;
    height: 5rem;
    background: rgb(255, 255, 255);
    color: aquamarine;
}

.key_list{
    min-height: 40vh;
    display: flex;
    justify-content: center;

}
.key_list_item{
    margin: 1rem;
}


.key{
    width: 8rem;
    height: 5rem;
    font-family: 'Kalam', sans-serif;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.521);
    color: white;
    border: none;
    border-radius: 52% 48% 50% 49% / 47% 49% 50% 51%;
    transition: all .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
}
.key > span{
    font-family: var(--font-comfortaa);
    font-size: 1.5rem;
    margin-left: 1rem;
    color: rgb(253, 145, 3);
}



.key._show{
    transform: scale(1.1) translateY(-1rem);
}


.key_list_item:nth-child(1){
    -webkit-animation: my-animation 3s;
        animation: my-animation 3s;
        margin-top: 9rem;
}
.key_list_item:nth-child(1) .key {
    color: rgb(255, 0, 0);
}
.key_list_item:nth-child(2){
    -webkit-animation: my-animation 2.3s;
        animation: my-animation 2.3s;
        margin-top: 7.5rem;
}
.key_list_item:nth-child(2) .key {
    color: rgb(255, 123, 0);
}
.key_list_item:nth-child(3){
    margin-top: 6rem;
    -webkit-animation: my-animation 2s;
        animation: my-animation 2s;
}
.key_list_item:nth-child(3) .key {
    color: rgb(255, 247, 25);
}

.key_list_item:nth-child(4) {
    margin-top: 4.5rem;
    -webkit-animation: my-animation 2.5s;
    animation: my-animation 2.5s;
}
.key_list_item:nth-child(4) .key {
    color: rgb(124, 254, 10);
}
.key_list_item:nth-child(5){
    margin-top: 3rem;
    -webkit-animation: my-animation 3s;
        animation: my-animation 3s;
}
.key_list_item:nth-child(5) .key {
    color: rgb(0, 238, 255);
}
.key_list_item:nth-child(6){
    margin-top: 1.5rem;
    -webkit-animation: my-animation 3.5s;
        animation: my-animation 3.5s;
}
.key_list_item:nth-child(6) .key {
    color: rgb(3, 44, 179);
}
.key_list_item:nth-child(7){
    margin-top: 0;
    -webkit-animation: my-animation 2.3s;
        animation: my-animation 2.3s;
}
.key_list_item:nth-child(7) .key {
    color: rgb(148, 23, 238);
}

/* Футер */
.footer{
    padding: 2rem 0;
}
.footer_wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_mail{
    font-size: 1.8rem;
    line-height: 1.3;
    color: rgb(253, 253, 253);
    opacity: .8;
    transition: all .3s;
}
.footer_mail:hover,
.footer_mail:focus{
    opacity: 1;
}
.footer_date{
    font-size: 1.6rem;
    line-height: 1.3;
}

/* Медіа запити. */
@media (max-width: 800px) {
    :root {
        font-size: 8px;
    }
};
    
@media (max-width: 630px) {
    .header_nav {
        align-items: flex-start;
        flex-direction: column;
    }

    .key_list_item {
        margin: .3rem;
    }


    .key {
        width: 5rem;
        height: 3rem;
        font-size: 2rem;
    }

    .key>span {
        font-family: var(--font-comfortaa);
        font-size: 1.1rem;
        margin-left: .3rem;
        color: rgb(253, 145, 3);
    }

    .footer_wrapper {
        flex-direction: column;
    }
};